<%- include("partials/header" , { userADMIN: false, pageTittle: "404", css : "/css/styles.css" }); -%>

<main class= "container pagenotfound">
    <img class="dorothy"  src="/images/varios/Funko-Pop-The-Wizard-of-Oz.png" alt="">
    <div>
        <h1 class="title-404" id="num-404" >404</h1>
        <h2 class="title-404" >PÁGINA NO ENCONTRADA</h2>
        <p id="frase-404">«Totó, creo que no estamos en Kansas» - «El mago de Oz»</p>
    </div>
</main>

<%- include("partials/footer"); -%>