<ul class="navbar__menu--admin">
    <li class="navbar__item with__menu">
      <a class="navbar__link with_icon" href="/shop?filter=all">VER TIENDA</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="/admin">ADMIN</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="/auth/logout">SALIR</a>
    </li>
  </ul>